{{ partial "header.html" . }}


       <!-- Body Content -->

        <section id="lapa-content">
            <div class="lapa-post lapa-container">



            <ul class="lapa-post__home">

            {{ range  where .Data.Pages "Type" "post"}}



              <li>
                  <div class="lapa-post__item">

                      <a href="{{ .Permalink }}" data-original="{{ .Params.thumb }}" class="lapa-post__link js-lazy"  title="{{ .Params.name }}" style="background-image : 
                        url({{ .Site.BaseURL }}img/grey.gif); background-repeat: repeat;">{{ .Params.name }}
                      </a>

                      <div class="lapa-post__info">
                          <h2 class="lapa-post__name"><a href="{{ .Permalink }}" class="lapa-post__name-link">{{ .Params.name }}</a></h2>

                          <p class="lapa-post__des">{{ .Params.short_description }}</p>
                          
                          <a href="{{ .Params.link }}" class="lapa-post__visit" title="Visit {{ .Params.name }}" target="_blank">Visit {{ .Params.name }}</a>


                      </div>
                  </div>
              </li>


             {{ end }}

              </ul>

            </div>

          
          {{ $paginator := .Paginate (where .Data.Pages "Type" "post") }}
          {{ template "_internal/pagination.html" . }}
          {{ range $paginator.Pages }}
            Content of {{ .Title }}
          {{ end }}


        </section>

        <!-- End Body Content -->

{{ partial "footer.html" . }}

