{{ partial "header.html" . }}
<!-- Body Content -->
<!-- Body Content -->
<section id="lapa-content">
    <div class="lapa-search-page">
        <div class="lapa-cse-input">
            <form>
                <input type="search" placeholder="Search..." name="q" class="lapa-cse-input__keyword" id="inputSearch">
                <input type="hidden" name="cx" value="002303082444362914793:vfln4v1oa94">
                <input type="hidden" name="ie" value="UTF-8">
            </form>
        </div>
        <div class="lapa-cse-result">
            <script>
            (function() {
                var cx = '002303082444362914793:vfln4v1oa94';
                var gcse = document.createElement('script');
                gcse.type = 'text/javascript';
                gcse.async = true;
                gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
                    '//cse.google.com/cse.js?cx=' + cx;
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(gcse, s);
            })();
            </script>
            <gcse:searchresults-only></gcse:searchresults-only>
        </div>
    </div>
</section>
<!-- End Body Content -->
{{ partial "footer.html" . }}

<script>
	function gup( name, url ) {
  if (!url) url = location.href;
  name = name.replace(/[\[]/,"\\\[").replace(/[\]]/,"\\\]");
  var regexS = "[\\?&]"+name+"=([^&#]*)";
  var regex = new RegExp( regexS );
  var results = regex.exec( url );
  return results == null ? null : results[1];
}

var urlcur = window.location.href ;
//gup('q', urlcur);

var valuetxt = gup('q', urlcur);
$("#inputSearch").val(valuetxt);

</script>
